.navbar {
  width: 100%;
  height: 64px;                /* FIX HEIGHT */
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;             /* MOBILE SAFE */
  background-color: #1b1f12b9;
  color: white;
  box-sizing: border-box;

  position: fixed;
  top: 0;
  z-index: 1100;
}



.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 28px;
  margin: 0;
  padding: 0;
  font-size: 16px;
}


.nav-links li {
  cursor: pointer;
}

.nav-links li:hover {
    color: #22c55e;
}

.navbar-blur {
  filter: blur(4px);
  opacity: 0.6;
  pointer-events: none;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 12px;
  }

  .logo {
    font-size: 16px;
  }

  .nav-links {
    gap: 14px;
    font-size: 13px;
  }
}
