.top-panel {
  position: fixed;
  top: 64px; /* navbar height */
  left: 0;
  width: 100%;
  height: calc(60vh - 64px);

  background: rgba(63, 63, 62, 0.536);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  z-index: 1000;

  /* CLOSED STATE */
  opacity: 0;
  transform: translateY(-12px);
  pointer-events: none;

  

  transition:
   opacity 0.4s ease,
  transform 0.4s ease;
    
}


.top-panel.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}


/* header */
.top-panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.top-panel-header h2 {
  font-size: 28px;
}

.top-panel-header button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* content */
.top-panel-content {
  padding: 40px;
}
