.vision {
  padding: 80px 60px;
  max-width: 900px;
  margin: auto;
}

.vision h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.vision p {
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 16px;
  color: #d1d5db;
}

/* for box content  */
section {
  margin: 0;
}

p {
  max-width: 800px;
}
/* for box content */